application/data/cache/pluginLoaderCache.php
application/data/cache/URI/*
application/data/cache/HTML/*
application/data/cache/CSS/*
application/data/cache/tags/*
application/configs/version.php
public/cached/**/*
public/css/.sass-cache
.sass-cache
public/uploads/private/**/*
public/uploads/shared/**/*
.DS_Store
.project
application/data/.golemrc
Blackhole.php
node_modules
tags
